html,
body {
    height: 100%;
    width: 100%;
    background: rgb(18, 9, 36);
}

#container {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    margin-left: 1rem;
    margin-right: 1rem;
    font-size: 3rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

table {
    line-height: 8rem;
    border-collapse: collapse;
    background: white;
}

td {
    border: 1px solid black;
    padding: 5px 10px;
    text-align: center;
}

td:hover {
    background: rgb(209, 208, 208);
}

input {
    display: flex;
    line-height: 10rem;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    text-align: right;
    border: none;
}

input:focus {
    display: flex;
    line-height: 10rem;
    width: 100%;
    height: 100%;
    font-size: 4rem;
    outline: none;
}